@media only screen and (min-width: 768px) {
    body {
        background-color: lightslategray;
    }
    .books img {
        width: 30%;
        height: 100%;
        float: left;
    }
    .book-detail {
        width: 60%;
        float: left;
        height: 100%;
    }

    .feedback-section{
        text-align: left;
        
    }

    .feedback-desc{
        width: 50%;
        height: 100%;
        float: left;
        padding: 10px;
    }

    .contact {
        width: 50%;
        float: right;
        text-align: center;
        
    }

}